*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    width: 90%;
    background: #ffeecc;
}

.transColor{
    margin-top: 18px;
}

.transColorDec{
    
}
.transColorDecInput{
    display: flex;
}
.transColorDecInput p{
    padding: 0 5px 0 5px;
}
.transColorDecInput input{
    width: 26px;
}
.theHex p{
    display: inline;
}

.transColorHex{
    padding-top: 18px;
}

.transColorHexInput{
    display: flex;
}

.theDec{
    display: flex;
}